# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Topics/Floating-point types/Distance/out/
/Topics/Floating-point types/Distance/out/production/classes/
/Topics/Floating-point types/Find X/out/
/Topics/Floating-point types/Find X/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/Math library/Heron's formula/out/
/Topics/Math library/Heron's formula/out/production/classes/
/Topics/Processing strings/Convert a date/out/
/Topics/Processing strings/Convert a date/out/production/classes/